@import url('./styles/animations.css');
@import url('./styles/prism.catppucin.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 224 71.4% 4.1%;

		--radius: 0.5rem;

		/* Prism Catppuccin Latte */
		--prism-base-color: #4c4f69;
		--prism-token-keyword: #8839ef;
		--prism-token-builtin: #d20f39;
		--prism-token-function: #1e66f5;
		--prism-token-bool-num: #fe640b;
		--prism-token-string: #40a02b;
		--prism-token-symbol: #df8e1d;
		--prism-token-url: #40a02b;
		--prism-token-operator: #04a5e5;
		--prism-token-var: #4c4f69;
		--prism-token-const: #fe640b;
		--prism-token-property: #1e66f5;
		--prism-token-punctuation: #7c7f93;
		--prism-token-important: #8839ef;
		--prism-token-tag: #1e66f5;
		--prism-token-deleted: #d20f39;
		--prism-token-inserted: #40a02b;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;

		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 216 12.2% 83.9%;

		/* Prism Catppuccin Mocca */
		--prism-base-color: #cdd6f4;
		--prism-token-keyword: #cba6f7;
		--prism-token-builtin: #f38ba8;
		--prism-token-function: #89b4fa;
		--prism-token-bool-num: #fab387;
		--prism-token-string: #a6e3a1;
		--prism-token-symbol: #f9e2af;
		--prism-token-url: #a6e3a1;
		--prism-token-operator: #89dceb;
		--prism-token-var: #cdd6f4;
		--prism-token-const: #fab387;
		--prism-token-property: #89b4fa;
		--prism-token-punctuation: #9399b2;
		--prism-token-important: #cba6f7;
		--prism-token-tag: #89b4fa;
		--prism-token-deleted: #f38ba8;
		--prism-token-inserted: #a6e3a1;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		height: 100vh;
	}
}
